{
	"description": "The MiniProgram of PFSign.",
	"setting": {
		"urlCheck": true,
		"es6": false,
		"postcss": false,
		"minified": false,
		"newFeature": true
	},
	"compileType": "miniprogram",
	"appid": "tourappid",
	"projectname": "pfsign",
	"miniprogramRoot": "./dist",
	"condition": {}
}