// 主题颜色
export const themeColor = '#3a73f6'
// 服务器Url
const host = 'API service'
export const service = {
    host,
    signInUrl: `${host}/Record/SignIn`,
    signOutUrl: `${host}/Record/SignOut`,
    queryUrl: `${host}/Record/Query`,
    reportUrl: `${host}/Report`
}
// 工作室经纬度
export const pfStudio = {
    latitude: 30.316,
    longitude: 120.338
}